@import './../styles/mixins.scss';

@include rootTransition;

.expirience {
    background: #3b89fd url(/images/background/expirience.png) no-repeat center center fixed !important;
    z-index: 1;
    margin-top: -105px;
    padding-top: 50px;
    padding-bottom: 200px;
    background-size: cover;
    //@include fadein;

    .small-icons {
        img {
           width: 10%;
        }
    }
}
.list li span {
    word-wrap: break-word;
    text-align: justify;
    div a {
        float: right;
        text-align: right;
        max-width: 400px;
        min-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px;
        margin: 0;
        background: white;
    }
}

.vertical-timeline-element--left .vertical-timeline-element-date {
    left: 144% !important;
    font-weight: bold !important;
    font-size: 2em !important;
}
.vertical-timeline-element--right .vertical-timeline-element-date
{
    right: 144% !important;
    font-weight: bold !important;
    font-size: 2em !important;
}