@import '../../containers/styles/mixins.scss';

.lang-selector {
  @include easeOut;

  display: flex;
  margin: 9px;

  .selected {
    @include riple;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background: #eae6ff;
  }
  span {
    cursor: pointer;
    padding: 10px;
    //img {
    //  margin-top: 10px;
    //}
  }
}
@media screen and (max-width: 1280px) {
  .lang-selector {
    img {
      width: 100%;
    }
  }
}