@import '../../containers/styles/mixins.scss';

.close-me {
  position: absolute;
  right: 3vw;
  top: 1vw;
  opacity: 1;
  font-size: 2vw;
  z-index: 10;
  @include fadein;
  cursor: pointer;
  transition-delay: .3s;
  a {
    color: whitesmoke;
  }
}
