@import '../../containers/styles/mixins.scss';

.close-me {
  position: absolute;
  right: 3vw;
  top: 1vw;
  opacity: 1;
  font-size: 2vw;
  z-index: 10;
  @include fadein;
  cursor: pointer;
  transition-delay: .3s;
  a {
    color: whitesmoke;
  }
}
@media screen and (max-width: 1280px) {
  .close-me {
    right: 3vw;
    top: 0.5vw;
    font-size: 3vw;
  }
}
@media screen and (max-width: 980px) {
  .close-me {
    right: 3vw;
    top: 0.5vw;
    font-size: 3vw;
  }
}

@media screen and (max-width: 480px) {
  .close-me {
    position: absolute;
    right: 3vw;
    top: 3vw;
    font-size: 8vw;
    a {
      color: red;
    }
  }
}
