/* Ripple effect */
$focus-color: 'red';

$active-color: 'whitesmoke';

@mixin riple {
  background-position: center;
  transition: background 0.5s;
  &:hover {
    background: $focus-color radial-gradient(circle, transparent 1%, $focus-color 1%) center/15000%;
  }
  &:active {
    background-color: $active-color;
    background-size: 100%;
    transition: background 0s;
  }
}
